<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/style.css">
    <title>Kalimantan</title>
</head>
<body>
    <header>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="#i">INDONESIAN CULTURE</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#activity">Culture</a></li>
                </ul>
            </div>    
        </div>
    </nav>
    </header>

    <main>

    <div class="content">
        <article id="home">
            <img src="https://cdns.klimg.com/merdeka.com/i/w/news/2021/06/08/1315760/670x335/cantik-menawan-berbalut-baju-adat-taa-sapei-sapaq-khas-suku-dayak.jpg" class="featured-image">
            <div class="kolom">
                <p class="deskripsi">Kebudayaan kalimantan </p>
                <h2>Let's explore borneo!.</h2>
                <p><a href="#activity" class="tbl-hijau">Explore</a></p>
            </div>
        </article>

        <article id="activity">
            <div class="kolom">
               <p class="deskripsi">kalimantan barat- pontianak</p>
               <h2>Gawai Dayak</h2>
               <p>Pekan Gawai Dayak adalah festival budaya yang diadakan setiap tahun di Pontianak, Kalimantan Barat. Festival yang sangat meriah ini diikuti oleh masyarakat dayak di Kalimantan, termasuk masyarakat dayak di Malaysia (Sarawak, Sabah, Kinabalu, dan Brunei).</p>
               <p> Gawai Dayak bermulai dari tradisi adat dayak dalam menyambut musim panen yang melimpah. Ungkapan rasa syukur itu diwujudkan dalam kegiatan seperti tarian, makan bersama, perlombaan tradisional, dan berkumpulnya sanak saudara dari berbagai penjuru daerah.</p>
               <p>Tidak hanya dihadiri oleh masyarakat asli dayak, Gawai Dayak juga selalu menarik minat para wisatawan untuk merasakan kemeriahan tersebut. Hal ini merupakan wujud penerimaan masyarakat dayak pada ragam budaya yang berbeda untuk bersama-sama bersyukur pada Yang Kuasa.</p> <p>Calon wisatawan harus mempersiapkan diri sebelum mengunjungi Pontianak setiap pertengahan tahun sekitar tanggal 1 juni, sebab festival ini diadakan selama satu pekan penuh.</p>
            </div>
        <img src="http://assets.kompasiana.com/items/album/2022/05/20/pekan-gawai-dayak-6287c19d3623ae5ed626ef62.jpeg" class="content-image1">
        </article>

        <article>
            <img src="http://assets.kompasiana.com/items/album/2021/02/15/1519980152-602a863fd541df17ca626275.jpg" class="content-image2">
            <div class="kolom">
                <p class="deskripsi">Singkawang </p>
               <h2>Cap Go meh</h2>
               <p>Cap Go Meh yang dilakukan di hari ke 15 setelah hari raya Imlek, yang dihitung sesuai penanggalan kalender Tionghoa. "Cap Go" dalam dialek Hokkian artinya lima belas, sedangkan "Meh" artinya malam.  Kota Singkawang merayakan Cap Go Meh dengan meriah sehingga menarik wisatawan lokal dan mancanegara untuk berbondong-bondong menyaksikan perayaan tersebut. Perayaan Cap Go Meh di kota Singkawang menjadi spesial dengan hadirnya Tatung yaitu orang-orang yang dipercayai sebagai pilihan dewa.</p>
                <p>Tatung adalah orang-orang terpilih yang kerasukan roh-roh dianggap baik, dan mampu menangkal roh jahat yang hendak menggangu keharmonisan hidup masyarakat. Saat para tatung diarak keliling Singkawang, mereka biasanya dalam keadaan tidak sadar dan melakukan berbagai atraksi di luar nalar. Seperti menusukkan senjata tajam ke tubuh sendiri tanpa terlihat kesakitan atau berdarah. Atraksi para tatung merupakan pertunjukan yang paling ditunggu dalam Festival Cap Go Meh di Singkawang. Biasa menjadi incaran para fotografer untuk diabadikan dalam foto.</p>
               <p>Bukan satu-satunya perayaan di Indonesia, perayaan Cap Go Meh di Kota Pontianak dan Kota Singkawang memiliki kekhasan yang spesial dan kental dengan tradisi yang tak lekang oleh waktu. Awalnya hanya dilakukan untuk keperluaan agama dan kepercayaan, perayaan Cap Go Meh justru menjadi sebuah budaya dan tradisi yang selalu hadir setiap tahun. </p>
               <p>Bukan hanya dinikmati oleh masyarakat Kalimantan Barat keturunan Tionghoa, seluruh kalangan masyarakat lintas etnis dan lintas agama hingga turis dari luar kota hingga luar negeri pun ikut meramaikan perayaan Cap Go Meh ini.</p>
            </div>
        </article>

        <article id="activity">
            <div class="kolom">
               <p class="deskripsi">Kabupaten Tabalong, Kalimantan Selatan</p>
               <h2>Festival Etnik Tabalong</h2>
               <p>Tabalong Etnik Festival (TEF) merupakan satu event tahunan cukup dikenal dari Kabupaten Tabalong, Provinsi Kalimantan Selatan (Kalsel). Bukan hanya bagi masyarakat Bumi Sarabakawa, Tabalong Etnik Festival ini juga sudah pernah meramaikan Bundaran HI Jakarta. </p>
               <p>Yang menjadikan Tabalong Etnik Festival ini sangat menarik karena acara yang dilaksanakan banyak diisi berbagai kegiatan seni, budaya dan wisata. Dalam TEF ini diangkat dan dikenalkan kepada masyarakat tentang budaya dan tradisi yang menjadi ciri khas Kabupaten Tabalong.Puncak dari rangkaia kegiatan TEF ini adalah karnaval dengan menggunakan berbagai kostum menarik bernuansa etnik.Karnaval biasanya dilakukan dengan menggunakan rute ruas jalan protokol sehingga sangat berhasil menarik perhatian masyarakat.
                </p>
               
            </div>
        <img src="https://cdn.idntimes.com/content-images/community/2018/06/a42f2b8380620d54df343f545d364d30.jpg" class="content-image3">
        </article>


        <article>
            <img src="https://cdn.idntimes.com/content-images/community/2018/06/873c168789c0d85b82f091145bb4d18a.jpg" class="content-image2">
            <div class="kolom">
                <p class="deskripsi">Kabupaten Lamandau, Kalimantan Tengah</p>
               <h2>Festival Babukung</h2>
               <p>Bukung dalam bahasa Dayak Tomun bermakna topeng. Babukung bisa dimaknai sebagai kegiatan bertopeng sebagai tradisi saat adalah kematian. Sehingga babukung pada mulanya merupakan ritual kematian masyarakat dayak tomun. Dayak tomun banyak bermukim di sekitar Kabupaten Lamandau, Kalimantan Tengah. Masyarakat dayak di sini juga menggelar ritual kematian Tiwah untuk mengantar arwah (roh) orang yang telah wafat ke alam lainnya. Unik di Kabupaten Lamandau, ritual kematian itu juga diiringi oleh tradisi Babukung.</p>
               <p>Kini Babukung dijadikan sebuah festival budaya untuk memperkenalkan budaya setempat kepada dunia. Menurut masyarakat setempat, festival topeng seperti ini hanya ada dua di dunia, yaitu di Afrika dan di Kabupaten Lamandau. Jadi, festival ini menjadi sesuatu yang unik dan menarik untuk dikunjungi. </p>
            </div>
        </article>

        <article id="activity">
            <div class="kolom">
               <p class="deskripsi">Tenggarong, kalimantan timur</p>
               <h2>Festival Budaya Erau</h2>
               <p>Dalam bahasa kutai, erau atau eroh, berarti ramai, riuh, dan menggembirakan. Festival ini setiap tahun bertujuan untuk memberikan gelar atau tanda jasa kepada masyarakat yang berjasa kepada kesultanan Kutai Kartanegara. Tak hanya itu, festival juga dimeriahkan dengan upacara adat, permainan tradisional, kulinera, pameran produk lokal, dan kesenian..
                </p>
               <p>Saking terkenalnya, festival ini tidak lagi dikaitkan dengan kebudayaan yang berasal dari Keraton Kutai Kartanegara, melainkan menjadi salah satu acara kebanggaan pariwisata nasional. Festival ini diadakan sekitar dua belas hari dan diikuti oleh berbagai daerah dan beberapa negara lain.</p>
               <p>Dalam perhelatan bernama Erau International Folklore and Art Festival (EIFAF), berbagai kesenian dan tradisi di lingkup Kesultanan Kutai bersanding dengan warisan budaya dunia dari berbagai bangsa di penjuru dunia. Ajang ini sekaligus memperkenalkan peninggalan kearifan lokal masyarakat Kutai kepada dunia. Para delegasi dari berbagai negara diundang untuk ikut terlibat dalam berbagai ritual adat yang berlangsung selama pelaksanaan Erau. Erau dilangsungkan bertepatan dengan hari jadi Kota Tenggarong, yaitu setiap tanggal 29 September. Tetapi, sejak tahun 2010, pelaksanaan festival ini dimajukan menjadi Bulan Juli karena menyesuaikan dengan musim liburan sehingga lebih banyak wisatawan yang datang.</p>
            </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw3GdcWWm-jLLC9izaiYSSrHLJ9N4LXbVYTA&usqp=CAU" class="content-image3">
        </article>
    </div>
    </main>

    </div>
        <footer id="copyright">
            &copy; Copyright <strong>Indonesian Culture</strong> 2022
        </footer>
    </div>

</body>
</html>