<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/style.css">
    <title>Sumatera</title>
</head>
<body>
    <header>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="#i">INDONESIAN CULTURE</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#activity">Culture</a></li>
                </ul>
            </div>    
        </div>
    </nav>
    </header>

    <main>

    <div class="content">
        <article id="home">
            <img src="https://i.pinimg.com/564x/47/a9/8a/47a98a9ed7a8aabc34be85cf31047ec3.jpg" class="featured-image">
            <div class="kolom">
                <p class="deskripsi">Kebudayaan Sumatera</p>
                <h2>Let's explore Sumatera!.</h2>
                <p><a href="#activity" class="tbl-hijau">Explore</a></p>
            </div>
        </article>

        <article id="activity">
            <div class="kolom">
               <p class="deskripsi">Sumatera Utara</p>
               <h2>Tradisi Mangongkal Holi</h2>
               <p>Mangongkal holi adalah sebuah tradisi membongkar kembali tulang-belulang dan menempatkannya kembali ke suatu tempat, tepatnya di sebuah tugu.[butuh rujukan] Mangokkal holi adalah salah satu kekayaan kebudayaan masyarakat Batak Toba yang hingga saat ini masih dilestarikan. Bentuk dari mangokkal holi ini adalah upacara. Tidak ada catatan yang pasti mengenai awal mula upacara mangokkal holi ini. Akan tetapi, secara tradisi dikatakan bahwa upacara ini akan ada jika ternyata arwah dari salah seorang dalam satu keluarga datang kepada salah seorang anggota keluarga yang masih hidup, baik lewat mimpi ataupun lewat penglihatan, lalu memohon untuk memindahkan tulang-belulangnya ke tempat yang lebih layak.</p>
               <p>Upacara Adat Batak Mangongkal Holi dilakukan oleh sekelompok marga untuk mendirikan monumen atau kuburan bagi nenek moyang mereka. Kuburan yang baru bisanya berbentuk monumen Tugu sebagai penanda asal muasal nenek moyang atau leluhur dari rumpun marga tersebut. Teknis dan proses pelaksanaan tradisi mangongkal holi dilakukan dengan mengangkat tulang belulang leluhur (disebut Oppung) yang telah lama meninggal. Dalam silsilah marga batak dimulai dari leluhur pertama, kedua, ketiga dst.</p>
               <p>Satu kuburan (Monumen Tugu) bisa menampung lebih dari empat atau lebih Jasad Leluhur dan di masukkan kedalam, tergantung besarnya Monumen dan banyak nya silsilah marga yang hendak dimasukkan Holi (tulang Belulang).</p>
               <p>Jika suatu hari seorang anak Batak di perantauan di tanya dari mana asal marganya, Monumen Tugu leluhur ini lah sebagai penanda asal muasal marganya dan adanya Holi leluhur didalam kuburan yang berbentuk monumen atau tugu tersebut. Sebagai Contoh monumen tugu marga Sidauruk yang berada di pulau Samosir Sumatera Utara.</p>
            </div>
        <img src="https://s.kaskus.id/r540x540/images/2014/01/09/2701311_20140109043501.jpg" class="content-image1">
        </article>

        <article>
            <img src="http://4.bp.blogspot.com/-VzkO6VClGsA/UusrFo5uChI/AAAAAAAAAGA/OP0oLvL7c_M/s1600/HG.jpg" class="content-image2">
            <div class="kolom">
                <p class="deskripsi">Riau</p>
               <h2>Tradisi Upacara Belian</h2>
               <p>Upacara belian merupakan ritual tolak bala yang dilakukan Suku Petalangan di Riau. Upacara adat ini biasanya digelar malam hari di rumah orang yang sakit atau di rumah adat yang besar sehingga dapat menampung banyaknya orang yang menghadiri upacara ini. Pada umumnya, belian ditujukan untuk mengobati orang sakit, membantu orang hamil yang ditengarai sulit melahirkan, menolak wabah penyakit, serta mengobati luka dari serangan binatang buas. Pengobatan dilakukan oleh seorang kemantan (dukun) dengan menyanyikan suatu mantra untuk memanggil para roh.</p>
               <p>Istilah belian berasal dari kata bolian yang berarti persembahan. Dengan demikian, upacara belian dapat diartikan sebagai upacara persembahan kepada Tuhan agar disembuhkan dari penyakit dan dijauhkan dari marabahaya.</p>
            </div>
        </article>

        <article id="activity">
            <div class="kolom">
               <p class="deskripsi">Bangka Belitung</p>
               <h2>Tradisi Nganggung</h2>
               <p>Tradisi Nganggung Dulang merupakan tradisi makan bersama .
                Biasanya, tradisi ini dilakukan oleh masyarakat Bangka Belitung dan sekitarnya yang sudah menjadi budaya.
                </p>
               <p>Kegiatan budaya khas Bangka ini dilakukan oleh tua, muda, laki-laki dan perempuan dengan cara makan duduk di lantai bersama-sama menyantap makanan yang dihidangkan.</p>
               <p>Satu kuburan (Monumen Tugu) bisa menampung lebih dari empat atau lebih Jasad Leluhur dan di masukkan kedalam, tergantung besarnya Monumen dan banyak nya silsilah marga yang hendak dimasukkan Holi (tulang Belulang).</p>
               <p>Nganggung adalah budaya membawa makanan lengkap di atas dulang yang ditutup dengan tudung saji berwarna merah dan bermotif. Di dalam dulang biasanya berisi nasi, lauk-pauk, buah-buahan, dan juga aneka kue.
                Sedangkan dulang adalah talam atau nampan yang biasanya terbuat dari kuningan dan bentuknya bulat.
                Tradisi ini sudah lama dilakukan secara turun temurun sejak jaman nenek moyang
                </p>
            </div>
        <img src="http://2.bp.blogspot.com/-eKWE5sPu5UA/Vcg1josRnkI/AAAAAAAAAzE/0DCJvaLvP-o/s1600/asdf.jpg" class="content-image3">
        </article>


        <article>
            <img src="https://t-2.tstatic.net/tribunsumselwiki/foto/bank/images/ngidang.jpg" class="content-image2">
            <div class="kolom">
                <p class="deskripsi">Palembang</p>
               <h2>Tradisi Ngobeng</h2>
               <p>Ngobeng adalah tradisi menghidangkan makanan dalam kegiatan adat Palembang seperti dalam acara pernikahan, khitanan, syukuran, dan perayaan hari-hari keagamaan. Tradisi ini diperkirakan dimulai pada era Kesultanan Palembang Darussalam dan merupakan tradisi Islam yang telah terasimilasi dengan budaya lokal, yakni makan bersama menggunakan tangan secara langsung sambil duduk bersila sesuai sunnah Nabi Muhammad.</p>
               <p>Hidangan yang disajikan dalam ngobeng disusun berdiri secara shaf yang kemudian dibagikan secara bergantian ke tempat makan pada acara yang bersangkutan. Cara ini memiliki tujuan yaitu mempercepat kedatangan makanan di tempat acara dan meringankan beban pembawa makanan. Satu hidangan dalam ngobeng ditujukan bagi delapan orang agar hadirin tetap dapat menjangkau sajian yang telah dihidangkan penyelenggara acara. Sajian makanan dalam ngobeng berupa iwak (lauk), pulur (sayur, sambal, dan buah-buahan), serta nasi putih atau nasi minyak yang dihidangkan di dalam dulang yang diletakkan di tengah-tengah hidangan.
                Tradisi ngobeng sudah mulai jarang dilakukan dan masyarakat Palembang, terutama muda-mudinya, tidak begitu mengenal tradisi ini karena penyajian makanan dalam berbagai acara di Palembang semakin tergantikan dengan metode prasmanan
                </p>
            </div>
        </article>

        <article id="activity">
            <div class="kolom">
               <p class="deskripsi">Sumatera Barat</p>
               <h2>Tabuik</h2>
               <p>Tabuik (Indonesia: Tabut) adalah perayaan lokal dalam rangka memperingati Asyura, gugurnya Imam Husain, cucu Muhammad, yang dilakukan oleh masyarakat Minangkabau di daerah pantai Sumatra Barat, khususnya di Kota Pariaman. Festival ini termasuk menampilkan kembali Pertempuran Karbala, dan memainkan drum tassa dan dhol. Tabuik merupakan istilah untuk usungan jenazah yang dibawa selama prosesi upacara tersebut. Walaupun awal mulanya merupakan upacara Syi'ah, akan tetapi penduduk terbanyak di Pariaman dan daerah lain yang melakukan upacara serupa, kebanyakan penganut Sunni. Di Bengkulu dikenal pula dengan nama Tabot.
                </p>
               <p>Upacara melabuhkan tabuik ke laut dilakukan setiap tahun di Pariaman pada 10 Muharram sejak 1831. Upacara ini diperkenalkan di daerah ini oleh Pasukan Tamil Muslim Syi'ah dari India, yang ditempatkan di sini dan kemudian bermukim pada masa kekuasaan Inggris di Sumatra bagian barat.</p>
            </div>
        <img src="https://www.goodnewsfromindonesia.id/uploads/post/large-pasted-image-0-bf2ff434d69aca91c73eeec56bcac110.png" class="content-image3">
        </article>
    </div>
    </main>

    </div>
        <footer id="copyright">
            &copy; Copyright <strong>Indonesian Culture</strong> 2022
        </footer>
    </div>

</body>
</html>